java/jerseyrest-clientfactory/test.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="AdssCommonDataTypesSchema.xsd" />
  <xs:include schemaLocation="CalibrationCommonDataTypesSchema.xsd" />

  <xs:element name="Stage2HrimRZPixelSize">
    <xs:annotation>
      <xs:documentation>
        Calibration settings for Stage2HrimRZPixelSize.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LocalPixelSizeObjectCoeff" type="LocalPixelSizeObjectCoeffType" />
        <xs:element name="CB3" minOccurs="1" type="HrimRectangeType" />
        <xs:element name="SbpEdgeX" type="HrimRectangeType" />
        <xs:element name="SbpEdgeY" type="HrimRectangeType" />
        <xs:element name="SbpFocusHeight" type="SlideAxisZType" />
        <xs:element name="TargetFocusHeight" type="SlideAxisZType" />
        <!-- Maps to SDSS Stage2HrimXY.xsd, resource: /sdss/cqa/coord-systems/stage-2-hrim/xy -->
        <xs:element name="Stage2HrimXY" type="Stage2HrimXYType" />
        <!-- Maps to SDSS Stage2HrimZ.xsd, resource: /sdss/cqa/coord-systems/stage-2-hrim/z -->
        <xs:element name="Stage2HrimFocusZ" type="Stage2HrimFocusZType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- copied from Stage2HrimXY.xsd -- START -->
  <xs:element name="Stage2HrimXY">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Stage2HrimFocusX" type="Stage2HrimFocusXValueType" />
        <xs:element name="Stage2HrimFocusY" type="Stage2HrimFocusYValueType" />
        <xs:element name="Stage2HrimFocusRZ" type="Stage2HrimFocusRZValueType" />
        <xs:element name="HrimPixelSizeObject" type="HrimPixelSizeObjectValueType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="Stage2HrimFocusXValueType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="1.7e-03" />
      <xs:maxInclusive value="7.7e-03" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stage2HrimFocusYValueType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="43.7e-03" />
      <xs:maxInclusive value="51.7e-03" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stage2HrimFocusRZValueType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="-1.5e-03" />
      <xs:maxInclusive value="1.5e-03" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HrimPixelSizeObjectValueType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="220.0e-09" />
      <xs:maxInclusive value="280.0e-09" />
    </xs:restriction>
  </xs:simpleType>
  <!-- copied from Stage2HrimXY.xsd -- END -->

  <!-- copied from to SDSS Stage2HrimZ.xsd -- START -->
  <xs:simpleType name="Stage2HrimFocusZValueType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0.9e-03" />
      <xs:maxInclusive value="1.1e-03" />
    </xs:restriction>
  </xs:simpleType>
  <!-- copied from to SDSS Stage2HrimZ.xsd -- END -->

  <!-- copied from to SDSS CommonDataTypes.xsd -- START -->
  <xs:simpleType name="SlideAxisZType">
    <xs:restriction base="xs:double">
    </xs:restriction>
  </xs:simpleType>
  <!-- copied from to SDSS CommonDataTypes.xsd -- END -->

</xs:schema>

Stage2HrimFocusZ
